/* Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.login-form h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-input:focus {
  border-color: #567c8d;
  outline: none;
}

.login-button-container {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #567c8d;
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.login-button-container button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-button-container:hover {
  background-color: #343f44;
}
