/* estilos para el login*/

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.login-form h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-input:focus {
  border-color: #567c8d;
  outline: none;
}

.login-button-container {
  width: 100%;
  padding: 0;
  margin-top: 10px;
  background-color: #567c8d;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex; /* Usa flexbox */
}

.login-button-container button {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.login-button-container:hover {
  background-color: #343f44;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
